

#main-wrapper
{
	width: 500px;
	margin: 0 auto;
	background-color:white;
	padding:5px;
	border-radius: 10px;
	border: 3px solid #1abc9c;


}
.image
{
	width:150px;
	text-align:center;
    border-radius: 50px;
	
}

.myform
{
	width: 450px;
	margin: 0 auto;
}

.inputvalues
{
	width: 430px;
	margin:0 auto;
	padding: 5px;
}

#login_btn
{
	margin-top: 10px;
	background-color:#2ecc71;
	padding: 5px;
	color:white;
	width: 30%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	
}

#register_btn
{
	margin-bottom: 10px;
	margin-top: 10px;
	background-color:#3498db;
	padding: 5px;
	color:white;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#signup_btn
{
	margin-top: 10px;
	background-color:#3498db;
	padding: 5px;
	color:white;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#back_btn
{
	margin-bottom: 10px;
	margin-top: 10px;
	background-color:#e74c3c;
	padding: 5px;
	color:white;
	width: 30%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#logout_btn
{
	margin-top: 10px;
	background-color:#e74c3c;
	padding: 5px;
	color:white;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

a{
	text-decoration: none;
}